<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="RpsController">
    <div class="row">
        <button ng-click="humanMove('ROCK')" class="btn btn-sm btn-info"><span class="rock-human"></span></button>
        <button ng-click="humanMove('PAPER')" class="btn btn-sm btn-info"><span class="paper-human"></span></button>
        <button ng-click="humanMove('SCISSORS')" class="btn btn-sm btn-info"><span class="scissors-human"></span></button>
    </div>
    <hr/>
    <hr/>
    <div id="response-row" class="row">
        <span class="{{humanChoice.className}}" ng-model="humanChoice"></span>
        <span class="{{computersChoice.className}}" ng-model="computersChoice"></span>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/RpsController.js"></script>
<script src="js/app/RpsService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>