<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="RpsController">
    <div class="row">
        <button ng-click="handShown('ROCK')" class="btn btn-sm btn-info">Rock</button>
        <button ng-click="handShown('PAPER')" class="btn btn-sm btn-info">Paper</button>
        <button ng-click="handShown('SCISSORS')" class="btn btn-sm btn-info">Scissors</button>
    </div>
    <hr/>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.userName}}</h3>
        </div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/RpsController.js"></script>
<script src="js/app/RpsService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>